@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --Slate300:  hsl(212, 45%, 89%);
    --Slate500:  hsl(216, 15%, 48%);
    --Slate900:  hsl(218, 44%, 22%);
    --White:     hsl(0, 0%, 100%);
    --box-shadow:rgba(0, 0, 0, 0.1);
    --spacing-xs:0.5rem;
    --spacing-small:1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
}
html,
body {
    max-width: 90rem;
    min-width: 23.4rem;
}

.container {
    background-color: var(--Slate300);
    text-align: center;
    margin: clamp(var(--spacing-xs), 10vh,var(--spacing-lg)) clamp(var(--spacing-xs), 5vh,var(--spacing-lg));
    padding: 8%;
    display: grid;
    place-items: center;
    height: auto;
    box-shadow: 1px 15px 20px var(--box-shadow);
}

.qr-code-card {
    padding: 0.9rem;
    background-color: var(--White);
    border-radius: 20px;

}

.qr-code-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.qr-card-text {
    padding: 0 0.5rem;
    text-align: center;

}

.qr-card-text p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--Slate500);
    text-align: center;

}

.qr-card-text,
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: var(--Slate900);
    font-size: 1.3rem;

}


@media (min-width: 48rem) {
    .qr-code-card {
        width: 25%;
    }
}